pure-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: fixed;

  pure-close {
    position: absolute;
    top: 0; right: 0;
  }

  pure-dialog {
    display: block;
    position: relative;
    pointer-events: auto;
    background: white;
    z-index: 0;
    min-width: 240px;
    outline: 0;
    margin: 0 auto;
  }
  pure-dialog:focus {
    outline: 0;
  }
}