.jumbotron {
  background: url(./assets/pattern.jpg) 50% 50% transparent;

  text-align: center;
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.8);
}

footer {
  border-top: 1px solid rgba(200,200,200,.4);
  margin-top: 64px;
  padding: 24px;
  text-align: center;
}

.logo-container {
  border-radius: 100%;
  overflow: hidden;
  background: #fff;
  width: 70px;
  height: 70px;
  padding: 3px;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
  margin: -58px auto 12px;
}

.logo-img {
  background-image: url(//www.gravatar.com/avatar/2bafe617ab4729d179c73b27f74f4360?s=64&d=mm&r=x);
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}

.theme-changer {

}
.theme-changer .pagination-sm {
  margin: 0 0 0 12px;
  vertical-align: middle;
}
.theme-changer .pagination-sm a {
  cursor: pointer;
}